$primary = #e6b31e;
$white = #ebebeb;
$black = #1d1d1d;
$light = #f7f7f8;
$grey = #4c5e70;

$font-size = 1.6rem;

$header-height = 10rem;
$header-logo-height = 7.5rem;
$header-logo-margin = 0 0 0 5rem;
$container-padding = 0 5rem;