$primary = #e6b31e;
$white = #ebebeb;
$black = #1d1d1d;
$light = #f7f7f8;
$grey = #4c5e70;

$font-size = 1.6rem;

$header-height = 10rem;
$header-logo-height = 7.5rem;
$header-logo-margin = 0 0 0 5rem;
$header-sign-icon-margin = 0 0 0 2.5rem;
$header-avatar-size = 5rem;
$header-avatar-margin = 0 0 0 2.5rem;
$header-avatar-border-radius = .5rem;
$header-cart-margin = 0 0 0 1.5rem;
$header-link-padding = 0 3rem;

$container-padding = 0 5rem;